#sidebar {
    display:none;
    /* display: flex; */
    flex-flow: row;
    background: #FFA768;
    position: absolute;
    padding-right: 83%;
    /* padding-bottom: 100%; */
    border-style: solid;
    box-shadow: 3px 3px;
}
#indivSide:hover{
    background: #faba8d;
}


body {
    background: #9bcbff
}

#indivSide {
    padding-right: 116.3%;
    border-style: solid;
}

.w3-animate-left {

    position: relative;
    animation: animateleft 1s;
}

@keyframes animateleft {
    from {
        left: -380px;
        opacity: 0
    }

    to {
        left: 1px;
        opacity: 1
    }

}
.introduction {
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: center;
    border-style: solid;
}