#sidebar {
    /* display:none; */
    display: flex;
    flex-flow: row;
    background: #FFA768;
    position: absolute;
    padding-right: 84%;
    /* padding-bottom: 100%; */
    border-style: solid;
    box-shadow: 3px 3px;

}

.index {
    background: #228dff
}

#indivSide {
    padding-right: 110%;
    border-style: solid;
}

.w3-animate-left {

    position: relative;
    animation: animateleft 1s
}

@keyframes animateleft {
    from {
        left: -380px;
        opacity: 0
    }

    to {
        left: 1px;
        opacity: 1
    }

}